{% extends 'cats/base.html' %}

{% block main %}
    
<section>
    <div class=" px-4 lg:pl-[8.3rem] lg:pr-52 flex flex-col lg:flex-row md:gap-x-28 gap-y-5 ">
        <figure class="w-60 h-60 lg:min-w-[22.5rem] lg:min-h-[22.5rem] self-center md:self-start"><img src={{catbreed.image.url}} alt="" class="aspect-square object-cover rounded-xl"></figure>
        <article class="">
            <h1 class="leading-10 font-semibold text-2xl md:text-4xl">{{catbreed.name}}</h1>
            <p class="mt-6 font-medium text-xs md:text-lg leading-5">{{catbreed.description}}</p>
            <div class="mt-8">
                <ul>
                    <li class="flex mt-6">
                        <strong>Temperament: </strong>
                        <div><p>{{catbreed.temperament}}</p></span></div>
                    </li>
                    <li class="flex mt-6">
                        <strong class="text-sm leading-3 md:text-base md:leading-5">Origin: </strong>
                        <div><p class="text-sm leading-3 md:text-base md:leading-5">{{catbreed.origin}}</p></div>
                    </li>
                    <li class="flex mt-6">
                        <strong>Life span:</strong>
                        <div><span class="w-h-3">{{catbreed.life_span}}</span></div>
                    </li>
                    <ul>
                        <li class="flex mt-6">
                            <strong>Adaptability</strong>
                            <div class="w-full">
                                {{catbreed.adaptability}}
                            </div>
                        </li>
                        <li class="flex mt-6">
                            <strong>Affection level:</strong>
                            <div><span class="w-h-3">{{catbreed.affection_level}}</span></div>
                        </li>
                        <li class="flex mt-6">
                            <strong>Child Friendly:</strong>
                            <div><span class="w-h-3">{{catbreed.child_friendly}}</span></div>
                        </li>
                        
                    </ul>
                </ul>

            </div>
        </article>
    </div>
    <div class="px-4 md:px-[8.3rem] mt-10 md:mt-20">
        <h3 class="font-semibold leading-7 md:leading-10 text-2xl md:text-4xl">Other photos</h3>
        <div id="more-photos" class="mt-10 grid grid-cols-2 md:grid-cols-4 grid-rows-4 md:grid-rows-2 gap-6 md:gap-11">
        </div>
    </div>
</section>

<script>

const morePhotos = document.querySelector('#more-photos');


    const prom1 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom2 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom3 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom4 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom5 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom6 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom7 = fetch("https://api.thecatapi.com/v1/images/search");
    const prom8 = fetch("https://api.thecatapi.com/v1/images/search");

    const arr = [];
    const p = Promise.all([prom1, prom2, prom3, prom4, prom5, prom6, prom7, prom8]).then((res) => {
	// Get a JSON object from each of the responses
	return Promise.all(res.map( re => {
		return re.json();
	}));
}).then(function (data) {
	// Log the data to the console
	
    data.forEach(d=> arr.push(d[0]));


	console.log(arr);
        const html = arr.map( ele => {
        return `<img src=${ele.url} alt="" class="aspect-square object-cover rounded-xl">`
    }).join('');

    morePhotos.innerHTML = html;
}).catch(function (error) {
	// if there's an error, log it
	console.log(error);
});




    
</script>
    
{% endblock %}